<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ady.test">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".span.SpanActivity" />
        <activity android:name=".customedview.CustomActivity" />
        <activity android:name=".bottomsheet.BottomSheetActivity" />
        <activity android:name=".fresco.FrescoActivity" />
        <activity android:name=".anim.LottieAnimActivity" />
        <activity android:name=".anim.BoneAnimAct" />
        <activity android:name=".radar.RadarAct" />
        <activity android:name=".butterknife.ButterknifeAct" />
        <activity
            android:name=".components.ActionBarActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".anim.MatchAnimAct" />
    </application>
</manifest>
